.row
  .span8
    %h4 There are multiple different accommodation options within a short distance of the wedding venue in Lincoln, Concord, and Waltham.  Blocks of rooms have been reserved in the following hotels:
    %p
      %a{:href => "http://www.concordscolonialinn.com", :target => "_blank"} Concord's Colonial Inn
      The groom's family has rooms reserved here.
    %p
      %a{:href => "http://bestwesternmassachusetts.com/hotels/best-western-plus-at-historic-concord", :target => "_blank"} Best Western at Historic Concord
    %p
      %a{:href => "https://www.starwoodmeeting.com/Book/gilmorehickeywedding", :target => "_blank"}> Element Lexington
      The bride and groom and their wedding party have rooms reserved here.
  .span4
    #google-map{:style => "width:425px;height:350px"}
      %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Codman+Estate(Codman+Estate)&ie=UTF8&z=14&t=p&iwloc=near&output=embed", :width => "425"}
      %br/
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "425"}
        %tr
          %td{:align => "left"}
            %small
              %a{:href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Codman+Estate(Codman+Estate)&ie=UTF8&z=14&t=p&iwloc=near", :target => "_blank"} View Larger Map